<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redis" type="SSharing.Frameworks.Configurations.RedisConfigurationSection, SSharing.Frameworks.Configurations" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <!--redis-->
  <redis hostName="192.168.1.42:6379,192.168.1.43:6379"></redis>
</configuration>